body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color:#4c7bff ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#question, #timer, #time-left, #feedback {
    font-weight: 500;
    font-size: large;
}


}

#progress-bar {
    width: 100%;
    background-color: #ddd;
    height: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
}

#progress {
    background-color: #4CAF50;
    height: 100%;
    width: 0;
}
#question-box {
    background-color:  #afdfdf;
    
}
button {
    border: none;
    padding: 10px 10px;
    color: #fff;
    background-color: #0d1728;
    font-weight: bold;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#next-button {
    margin-left: 280px;
    width: 100px;
    
}
button:hover {
    transform: scale(0.98);
}
