body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    background-color: rgb(175, 223, 223);
    color: #2F4BFF;
    padding: 0 5rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Styling for the homepage (index.html) */

.quiz-header {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}

.quiz-header img {
    width: 40px;
    height: 40px;
}

.quiz-header h2 {
    padding: 0.13rem 0 0 0.25rem;
}

.quiz-intro {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
}

.quiz-intro-msg {
    line-height: 25pt;
    margin-left: 1rem;
    padding-top: 1rem;
}

.quiz-intro img {
    width: 773.16px;
    height: 426.5px;
}

#intro-msg {
    font-weight: 400;
    font-style: normal;
    font-size: 15.5px;
}

#start-quiz {
    background-color: #0F1628;
    border: none;
    width: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    margin-top: 5rem;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

#start-quiz:hover {
    background-color: #2F4BFF ;
}



/* Styling for Questions and Answers page (quiz.html) */

#homepage {
    border: none;
    background: none;
    padding: 1.1rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#homepage a {
    text-decoration: none;
}

#homepage a:hover {
    background-color: #0F1628;
    color: #ddd;
    padding: 10px;
    border-radius: 8px;
    align-items: end;
}

.quiz-container {
    background-color: #2F4BFF;
    color: #0F1628;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: center;
    max-width: 600px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 35px;
}

#quiz-rule {
    margin-top: 0.99rem;
    font-size: 11pt;
}

#start-button {
    border: none;
    padding: 0.15rem;
    margin-top: 2rem;
    border-radius: 10px;
    width: 200px;
}

#answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    margin-top: 0.25rem;
}

.answer-button,
#next-button,
#restartQuiz {
    width: 400px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#next-button, #restartQuiz {
    margin-left: 5rem;
}

#timer {
    margin-top: 0.25rem;
    font-style: italic;
}

#time-left {
    color: red;
    font-style: italic;
}

.answer-button:hover {
    background-color: #d3d3d3;
}

#progress-bar {
    width: 100%;
    background-color: #ddd;
    height: 10px;
    margin-bottom: 15px;
    margin-top: 0.99rem;
    border-radius: 5px;
    overflow: hidden;
}

#progress {
    background-color: #4CAF50;
    height: 100%;
    width: 0;
    margin: 0;
}

#result-box {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}
